[submodule "csrc/external/spdlog"]
	path = csrc/external/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "csrc/external/DeepSpeed"]
	path = csrc/external/DeepSpeed
	url = git@github.com:mcrl/DeepSpeed-spipe.git
[submodule "external/Megatron-DeepSpeed"]
	path = external/Megatron-DeepSpeed
	url = git@github.com:mcrl/Megatron-DeepSpeed-mcrl.git
	branch = spiral
